.wrapper{
    margin-top: 15vh;
    border: 1px solid grey;
    border-radius: 10px;
    height: 50vh; 
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.category{
    height: 30%;
    width: 100%;
}
.item{
    padding-top: 3vh;
    padding-left: 10vh;
}

